app = "sitemas"
primary_region = "ams"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  
  [[http_service.ports]]
    handlers = ["http"]
    port = 80
    
  [[http_service.ports]]
    handlers = ["tls", "http"]
    port = 443

  [http_service.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20
